<!DOCTYPE HTML>
<html lang="de">
  {% include header.html %}
  <body>
  	<div class="container">
      <header>
      	<h1>
      		{{ site.title | escape }}
          {% if site.subtitle %}<small>{{ site.subtitle | escape }}</small>{% endif %}
      	</h1>
      </header>
      <article role="main">
      	{% if page.title %}
        	<header>
        		<h1>{{ page.title | escape }}</h1>
        	</header>
      	{% endif %}
      	<section>
      		{{content}}
      	</section>
      </article>
      {% include footer.html %}
    </div>
  </body>
</html>
