{% include header.html %}
<header>
	<h1>
		{{ site.title }}
		<small>{{ site.subtitle }}</small>
	</h1>
</header>
<article role="main">
	{% if page.title %}
	<header>
		<h1>{{ page.title }}</h1>
	</header>
	{% endif %}
	<section>
		{{content}}
	</section>
	{% if page.title %}
	{% else %}
	<section>
		<h1>Kontaktiere mich unter</h1>
		<div class="vcard">
			<div class="email">
				<a href="mailto:hallo@sarahcurth.de">hallo@sarahcurth.de</a>
			</div>
			<div class="adr">
				<div class="org"><a class="url" href="http://www.sarahcurt.de" rel="external">Sarah Curth</a></div>
			    <div class="street-address">Warschauer Str. 59A</div>
		    	<span class="postal-code">10243</span> <span class="locality">Berlin</span>, <span class="country">Germany</span>
			</div>
		</div>
	</section>
	{% endif %}
</article>
{% include footer.html %}