<!DOCTYPE HTML>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }} – {% endif %}{{ site.title | escape }}</title>
    {% if page.twitter_username %}<meta name="twitter:creator" content="page.twitter_username" />{% endif %}
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{{ site.keywords }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Sarah Eichner",
      "jobTItle": "Texterin & Online Redakteurin",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Schnellerstr. 42",
        "addressRegion": "Schöneweide",
        "addressLocality": "Berlin",
        "postalCode": "12439"
      },
      "email": "{{ site.email }}",
      "sameAs": [
        "https://www.xing.com/profile/{{ site.xing_username }}",
        "https://www.linkedin.com/in/{{ site.linkedin_username }}",
        "https://twitter.com/{{ site.twitter_username }}",
        "https://www.instagram.com/{{ site.instagram_username }}/"
      ]
    }
    </script>
  </head>
  <body>
  	<div class="container">
      <header>
      	<h1>
      		{{ site.title | escape }}
          {% if site.subtitle %}<small>{{ site.subtitle | escape }}</small>{% endif %}
      	</h1>
      </header>
      <article role="main">
      	{% if page.title %}
        	<header>
        		<h1>{{ page.title | escape }}</h1>
        	</header>
      	{% endif %}
      	<section>
      		{{content}}
      	</section>
      </article>
      <footer>
        <a href="/">Home</a>
      	<a href="/imprint">Impressum</a>
      	<a href="/privacy-statement">Datenschutzerklärung</a>
      </footer>
    </div>
  </body>
</html>
